body {
    grid-template-areas:
            "header header"
            "search search"
            "accomodation populary"
            "activities activities"
            "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}
header nav ul {
    grid-template-areas:
        "navbar-logo navbar-accomodation navbar-activities navbar-register";
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
}
header nav ul li:nth-child(2) a {
    border-top: 2px solid #0065FC;
    border-bottom: 0;
}
header nav ul li:nth-child(3) a {
    border-bottom: none;
}
header nav ul li:nth-child(4) a {
    padding-right: 20px;
}

.btn-search {
    border-radius: 0 10px 10px 0;
    width: 100px;
}
#populary {
    border-radius: 20px;
}
#site-search {
    width: 15%;
}
.btn-search span {
    display: block;
}
i.fa-search{
    display: none;
}
#accomodation {
    background-color: #f3f3f3;
    border-radius: 50px;
}

#populary {
    display: grid;
    grid-template-areas:
        "titre"
        "soleil"
        "coeur"
        "hotelbleu";
    grid-template-rows: 50px 140px 140px 140px;
    grid-template-columns: 1fr;
    padding: 20px;
    grid-gap: 20px;
    margin-right: 2%;
}
.populary-title {
    padding: 3%;
}
#accomodation {
    grid-template-areas:
        "accomodation-title accomodation-title accomodation-title"
        "accomodation-card1 accomodation-card2 accomodation-card3"
        "accomodation-card4 accomodation-card5 accomodation-card6"
        "showmore showmore showmore";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(2, 210px) auto;
    margin-left: 2%;
}
#activities {
    grid-template-areas:
        "activities-title activities-title activities-title activities-title"
        "port pomegue parc dame"
        "port pomegue parc longchamp"
        "port iles parc longchamp";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 150px 50px 150px;
}

footer nav {
    grid-template-areas:
        "navbar-title1  navbar-title2 navbar-title3"
        "navbar-list1  navbar-list2 navbar-list3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 100px;
}




