body {
    grid-template-areas:
            "header header"
            "search search"
            "accomodation populary"
            "activities activities"
            "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

header nav ul {
    grid-template-areas:
        "navbar-logo navbar-accomodation navbar-activities navbar-register";
    grid-template-columns: 4fr 1fr 1fr auto;
    grid-template-rows: 50px;
}

header nav ul li:nth-child(2) a {
    border-top: 2px solid #0065FC;
    border-bottom: none;
}

header nav ul li:nth-child(3) a {
    color: black;
    border-bottom: none;
    margin-top:2px;
}

header nav ul li:nth-child(4) a {
    padding: 2px;
}

.btn-search {
    border-radius: 0 10px 10px 0;
    width: 100px;
}
#site-search {
    width: 20%;
}

.btn-search span {
    display: block;
}
#search h3 {
    padding:20px
}
#filters {
     display: flex;
     align-items: center;
}
.btnfiltre {
    margin: 0 50px 10px 0;
}
i.fa-search {
    display: none;
}
#populary {
    border-radius: 2rem;
}
#accomodation {
    background-color: #f3f3f3;
    border-radius: 2rem;
}
.accomodation-card1 section,
.accomodation-card2 section,
.accomodation-card3 section,
.accomodation-card4 section,
.accomodation-card5 section,
.accomodation-card6 section {
    height: 90%;
}
#populary {
    grid-template-areas:
        "titre"
        "soleil"
        "coeur"
        "hotelbleu";
    grid-template-rows: 40px 150px 150px 150px;

}

.populary-title {
    padding: 3%;
}
.populary-card1 section,
.populary-card2 section,
.populary-card3 section {
    box-shadow: 0 5px 10px white;
}
#accomodation {
    grid-template-areas:
        "accomodation-title accomodation-title accomodation-title"
        "accomodation-card1 accomodation-card2 accomodation-card3"
        "accomodation-card4 accomodation-card5 accomodation-card6"
        "showmore showmore showmore";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(2, 210px) auto;
}

#activities {
    grid-template-areas:
        "activities-title activities-title activities-title activities-title"
        "port pomegue parc dame"
        "port pomegue parc longchamp"
        "port iles parc longchamp";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 150px 50px 150px;
}

footer nav {
    grid-template-areas:
        "navbar-title1  navbar-title2 navbar-title3"
        "navbar-list1  navbar-list2 navbar-list3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 100px;
}




